mat-card {
  max-width: 70%;
  margin: auto;
  margin-top: 10px;
}

.full-width {
  width: 100%;
  display: block;
  margin: auto;
  margin-top: -20px;
}

.tittle-class {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
}

.example-button-row {
  margin: auto;
}

.button-class {
  margin: 10px;
}
