<!-- Esta é a minha página principal, é nela que irei decidir qual layout padrão será usado nela. Tanto para html quanto apra scss -->

<mat-toolbar color="primary">
  <span>CRUD Angular e Spring</span>
</mat-toolbar>

<router-outlet></router-outlet> <!-- RouterOutlet é uma das diretivas de Router. Quando nós importamos AppRoutingModule em AppModule, ele nós permite adicioná-la dentro do arquivo HTML do nosso AppComponent, dessa forma nós podemos passar as nossas rotas para que ele possa interpreta-las e direcionar para o component correto -->

